:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  mat-drawer {
    width: 90px;
  }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer {
    background: #ffffff;
    box-shadow: 6px 0px 10px rgb(204, 204, 204);
  }
  